.body{
  background-color:Black;
 
}
.App{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  background-color:black;
  color:white;
  height:100vh;
}
.App a{
  color:white;
  margin-left:10px;
  margin-right:2px;
  text-decoration:none;
  font-family:'arial';
}
